<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Github
                    </a>
                </li>
                <li>
                    <a href="#">
                        Linkedin
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="https://www.creative-tim.com">Lukapp</a>
        </p>
    </div>
</footer>
